@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Redressed&display=swap');

body {
  margin: 0;
  font-family: Akaya Telivigala;
  font-family: Raleway;
  font-family: Redressed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


